body {
  font-family: 'Nunito', sans-serif;
  width: 100vw;
  height: 100vh;
}
.header {
  color: #666;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e3e8ef;
}
.header h1 {
  font-size: 2rem;
  display: inline;
}
.wrapper {
  padding: 4rem 0;
  max-width: 40%;
  margin: 0 auto;
}
@media(max-width:1100px) {.wrapper { max-width: 60%; }}
@media(max-width:900px) {.wrapper { max-width: 70%; }}
@media(max-width:700px) {.wrapper { max-width: 80%; }}

.status {
  color: white;
  background: var(--green);
  font-weight: 600;
  font-size: 18px;
  padding: 1rem;
}
.check {
  padding: 4rem 0 0 0;
}
.subheading {
  padding: 0 0 1rem 0;
  color: #b0b4ba;
}
table, th, td {
  padding: 1rem;
  border: 1px solid #e3e8ef;
}
.check-table td {
  width: 100%;
}
.incidents {
  padding: 4rem 0 0 0;
}
.incidents-single {
  padding: 3rem 0 0 0;
}
.scheduled {
  padding: 4rem 0 0 0;
}
.scheduled-single {
  padding: 3rem 0 0 0;
}
strong {
  font-size: 18px;
  display: block;
  padding: 0 0 1rem 0;
}
